# Lua compiled sources
luac.out
*.luac

# LuaRocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Neovim
.nvim.lua
.nvimrc
.exrc

# Editor specific
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
.tests/
coverage/

# Documentation build
doc/tags
